/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// importando archivos secundarios

@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/mq";



/* estilos */

body {
    background-color: $color-fondo;

    header {
        padding: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 60%;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-fondo;

        h1 {
            @include flex;
            color: rgb(187, 28, 81);
            text-shadow: 10px 10px 10px pink;
            text-align: center;
            font-size: 4rem;
            font-style: oblique;
            margin-bottom: 40px;

        }

        p {
            padding: 1rem;
            text-align: center;
            font-size: 2rem;
            font-style: oblique;
            color: rgb(187, 28, 81);
            text-shadow: 10px 10px 10px pink;
            margin-bottom: 40px;
        }

        nav {
            .container-fluid {
                padding: 10px 10px;
                border-radius: 10px;
                background-color: pink;
                box-shadow: 5px 5px 5px rgb(187, 28, 81);
                font-weight: bold;
                font-size: 2rem;
                font-style: oblique;
            }

            .collapse {}
        }
    }

    section {
        display: none;

        div {
            img {
                width: 25%;
                padding: 2rem;
                margin: 2rem;

            }
        }
    }

    footer {

        text-align: center;
        margin: 20px;

        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;

            .telefono {
                img {
                    width: 13%;
                }
            }

            .ubicacion {
                img {
                    width: 10%;
                    padding:5px;
                    margin-left: 20px;

                }
            }
            .mail {
                img {
                    width: 10%;
                    padding: 5px;
                }
            }
        }

        h2 {
            font-size: 0.7rem;
            margin-top: 1rem;

        }
    }

// linkeo

@import "pages/secciones";  
    
    
}