.header2 {
    .subtitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(187, 28, 81);
        text-shadow: 10px 10px 10px pink;
        text-align: center;
        font-size: 4rem;
        font-style: oblique;
        margin-bottom: 40px;
    }

    nav {
        .container-fluid {
            padding: 10px 10px;
            border-radius: 10px;
            background-color: pink;
            box-shadow: 5px 5px 5px rgb(187, 28, 81);
            font-weight: bold;
            font-size: 2rem;
            font-style: oblique;
        }
    }
}

.mainmujeres {
    img {
        width: 25%;
    }
}

.mainchicos {
    img {
        width: 25%;
    }

}